.ocha-ai-chat-chat-form details {
  display: block;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
}
.ocha-ai-chat-chat-form details > summary {
  cursor: pointer;
  font-weight: bold;
}
.ocha-ai-chat-chat-form details[open] > summary {
  margin-bottom: 12px;
}

.ocha-ai-chat-chat-form a {
  word-break: break-all;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result {
  margin-top: 1rem;
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result + .ocha-ai-chat-result {
  margin-top: 1rem;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result:last-child {
  border: 4px solid #82b5e9;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result dl {
  margin-top: 0;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result dt {
  font-weight: bold;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result dd {
  margin-left: 24px;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference-list {
  padding-left: 0;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-reference {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-reference li {
  display: inline;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-reference li:not(:last-child)::after {
  content: ", ";
}

.ocha-ai-chat-chat-form input[type="number"] {
  max-width: 10ch;
}
.ocha-ai-chat-chat-form input[type="text"] {
  max-width: 100%;
}

/* Hide everything except the chat form content. */
.ocha-ai-chat-popup {
  background-color: white;
}
.ocha-ai-chat-popup *:has( ~ main) {
  display: none;
}
.ocha-ai-chat-popup main ~ * {
  display: none;
}
.ocha-ai-chat-popup body > *:not(:has(main)) {
  display: none;
}
.ocha-ai-chat-popup main {
  padding: 24px;
}
.ocha-ai-chat-popup main h1 {
  font-size: 1.5rem;
}
