:root {
  --oaic-outline: 2px; /* CD dependency */
}

/**
 * Page layout reset.
 *
 * Hide everything except the chat form content. These rules exist in the module
 * so that individual sub-theme implementations don't have to override the page
 * template and manually zero-out the CD Header/Footer.
 */
.ocha-ai-chat-popup {
  background-color: white;
}

.ocha-ai-chat-popup *:has( ~ main) {
  display: none;
}

.ocha-ai-chat-popup main ~ * {
  display: none;
}

.ocha-ai-chat-popup body > *:not(:has(main)) {
  display: none;
}

.ocha-ai-chat-popup main h1 {
  font-size: 1.5rem;
}

/**
 * Page layout
 */
.ocha-ai-chat,
.ocha-ai-chat main,
.ocha-ai-chat .region,
.ocha-ai-chat__content {
  height: 100%;
}

.ocha-ai-chat #main-content {
  padding: 0;
}

.ocha-ai-chat-chat-form-wrapper {
  /* height has to take the title into account. */
  height: calc(100% - 1.5rem - 24px - 7px); /* TODO: 7px is a magic number */
}

/**
 * Title / Heading area
 */
.ocha-ai-chat .rw-page-title {
  margin: 0;
  padding: 12px;
  background: var(--brand-primary);
  color: var(--cd-white);
  border-bottom: 0;
}


/**
 * Chat form layout
 */
/* duplicate class to override CD defaults */
.ocha-ai-chat-chat-form.ocha-ai-chat-chat-form {
  --cd-flow-space: 0;

  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-block-start: 1rem;
}

.ocha-ai-chat-chat-form [data-drupal-selector="edit-advanced"] {
  flex: 0 0 auto;
}

/* This element provides the top-level layout for the chat content. */
.ocha-ai-chat-chat-form [data-drupal-selector="edit-chat"] {
  flex: 1 1 100%;
  padding-block-start: 1rem;
  overflow-y: hidden;
}

/* Actual chat container. This is the direct parent of the chat content. */
.ocha-ai-chat-chat-form [data-drupal-selector="edit-chat"] .fieldset-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 16px 12px;
  overflow-x: hidden;

  /* In a perfect world, we'd set the following to bottom-align the chat content
  as it appears in the DOM. However, the CSS Spec essentially forbids overflow
  scrolling once we set this property. Go ahead, try it for yourself. */
  /* justify-content: flex-end; */
}

/* The instructions margins provide crucial styles to bottom-align content so
they are included in this section instead of general styling. Auto-margin only
has the intended effect if the parent is flex with flex-direction:column */
.ocha-ai-chat-chat-form__instructions {
  margin-block-start: auto;
  padding-block-start: 1rem;
}

/* lock size of input section so it hugs the bottom of the frame */
.ocha-ai-chat-chat-form .form-item-question {
  flex: 0 0 auto;
}

/* Button is overlaid on top of text input. The input has passing to ensure this
button doesn't overlay any text */
.ocha-ai-chat-chat-form [data-drupal-selector="edit-actions"] {
  position: absolute;
  bottom: 0;
  z-index: 100;
  text-align: end;
}


/**
 * Chat form styles
 */
.ocha-ai-chat-chat-form details {
  display: block;
  margin: 0 12px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.ocha-ai-chat-chat-form details > summary {
  cursor: pointer;
  font-weight: bold;
}

.ocha-ai-chat-chat-form details[open] > summary {
  margin-bottom: 12px;
}

.ocha-ai-chat-chat-form a {
  word-break: break-all;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result + .ocha-ai-chat-result {
  margin-block-start: 1rem;
}

.ocha-ai-chat-chat-form input[type="number"] {
  max-width: 10ch;
}

.ocha-ai-chat-chat-form input[type="text"] {
  max-width: 100%;
}

/**
 * Q/A history
 *
 * Each Q/A results in a chat-like set of bubbles. Think of SMS or WhatsApp.
 */
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat {
  display: flex;
  flex-flow: column nowrap;
  margin-block-start: 1rem;
  margin-block-end: 0;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result dd {
  margin: 0;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__q,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__a,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__refs {
  padding: 6px 12px;
  border-radius: 5px;
  position: relative;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__q {
  margin-inline-start: 2rem;
  text-align: end;
  color: white;
  background: var(--brand-primary);

  /* TODO: RTL */
  &::before {
    display: block;
    position: absolute;
    right: -8px;
    bottom: 6px;
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid var(--brand-primary);
    border-bottom: 4px solid transparent;
  }
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__a,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__refs {
  margin-block-start: 0.5rem;
  margin-inline-end: 2rem;
  text-align: start;
  color: #333;
  background: var(--brand-grey);

  /* TODO: RTL */
  &::before {
    display: block;
    position: absolute;
    left: -8px;
    bottom: 6px;
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid var(--brand-grey);
    border-bottom: 4px solid transparent;
  }
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__refs dt {
  font-weight: 700;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference-list {
  list-style-type: none;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference {
  display: inline;
  margin: 0;
  padding: 0;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference li {
  display: inline;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference li:not(:last-child)::after {
  content: ", ";
}

/**
 * User input area
 */
[data-drupal-selector="edit-question"] {
  /* The 'Ask' button takes up this space, so we pad the textarea. */
  padding-inline-end: 4rem;
}
