.ocha-ai-chat-chat-popup {
  position: fixed;
  z-index: 10000;
  top: 24px;
  right: 24px;
  width: 30vw;
  height: calc(100vh - 48px);
  border: 2px solid black;
  border-radius: 9px;
  background: white;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}
.ocha-ai-chat-chat-popup__iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
}

.data-ocha-ai-chat-chat-popup__button {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 64px;
  height: 64px;
  border: none;
  background: var(--rw-icons--chat--chat--64--dark-blue);
}
.data-ocha-ai-chat-chat-popup__button:active,
.data-ocha-ai-chat-chat-popup__button:focus,
.data-ocha-ai-chat-chat-popup__button:hover {
  background: var(--rw-icons--chat--chat--64--dark-red);
}
.data-ocha-ai-chat-chat-popup__button--close {
  z-index: 10001;
  top: 36px;
  right: 36px;
  bottom: auto;
  width: 18px;
  height: 18px;
  background: var(--rw-icons--common--close--18--dark-blue);
}
.data-ocha-ai-chat-chat-popup__button--close:active,
.data-ocha-ai-chat-chat-popup__button--close:focus,
.data-ocha-ai-chat-chat-popup__button--close:hover {
  background: var(--rw-icons--common--close--18--dark-red);
}
.data-ocha-ai-chat-chat-popup__button__label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/**
 * Loading overlay.
 *
 * Overlay with a spinning loading logo, that can be attached to any element via
 * the `ocha-ai-chat-loading` class.
 */
@keyframes ocha-ai-chat-chat-popup-overlay-loader {
  to {
    transform: rotate(360deg);
  }
}
.ocha-ai-chat-chat-popup-loading:before {
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
}
.ocha-ai-chat-chat-popup-loading:after {
  position: absolute;
  z-index: 10001;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  content: "";
  animation: ocha-ai-chat-chat-popup-overlay-loader 0.8s linear infinite;
  border: 3px solid #999;
  border-top-color: #333;
  border-radius: 50%;
}
