:root {
  --oaic-outline: 2px; /* CD dependency */
  --oaic-textarea-height: 76px;
  --oaic-padding-block-start: 0px;
}

/**
 * Page layout reset.
 *
 * Hide everything except the chat form content. These rules exist in the module
 * so that individual sub-theme implementations don't have to override the page
 * template and manually zero-out the CD Header/Footer.
 */
.ocha-ai-chat-popup {
  background-color: white;
}

.ocha-ai-chat-popup *:has( ~ main) {
  display: none;
}

.ocha-ai-chat-popup main ~ * {
  display: none;
}

.ocha-ai-chat-popup body > *:not(:has(main)) {
  display: none;
}

.ocha-ai-chat-popup main h1 {
  font-size: 1.5rem;
}

/**
 * Page layout
 */
.ocha-ai-chat,
.ocha-ai-chat main,
.ocha-ai-chat .region,
.ocha-ai-chat__content {
  height: 100%;
}

.ocha-ai-chat #main-content {
  padding: 0;
}

.ocha-ai-chat-chat-form-wrapper {
  /* height has to take the title into account. */
  height: calc(100% - 1.5rem - 24px - 7px); /* TODO: 7px is a magic number */
}

/**
 * Title / Heading area
 */
.ocha-ai-chat .rw-page-title {
  margin: 0;
  padding: 12px;
  color: var(--cd-white);
  border-bottom: 0;
  background: var(--brand-primary);
}


/**
 * Chat form layout
 */
/* duplicate class to override CD defaults */
.ocha-ai-chat-chat-form.ocha-ai-chat-chat-form {
  --cd-flow-space: 0;

  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  padding-block-start: 1rem;
}

.ocha-ai-chat-chat-form [data-drupal-selector="edit-advanced"] {
  flex: 0 0 auto;
}

/* This element provides the top-level layout for the chat content. */
.ocha-ai-chat-chat-form [data-drupal-selector="edit-chat"] {
  overflow-y: hidden;
  flex: 1 1 100%;
}

/* Actual chat container. This is the direct parent of the chat content. */
.ocha-ai-chat-chat-form [data-drupal-selector="edit-chat"] > .fieldset-wrapper {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-flow: column nowrap;
  height: 100%;
  padding-block-start: var(--oaic-padding-block-start);
  padding-inline: 16px;
  padding-block-end: 16px;
}

/* The instructions margins provide crucial styles to bottom-align content so
they are included in this section instead of general styling. Auto-margin only
has the intended effect if the parent is flex with flex-direction:column */
.ocha-ai-chat-chat-form__instructions {
  margin-block-start: auto;
  padding-block: 1rem;
}

/* lock size of input section so it hugs the bottom of the frame */
.ocha-ai-chat-chat-form .form-item-question {
  flex: 0 0 var(--oaic-textarea-height);
}

/* Button is overlaid on top of text input. The input has padding to ensure this
button doesn't overlay any text */
.ocha-ai-chat-chat-form [data-drupal-selector="edit-actions"] {
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: 0;
  width: min-content;
  min-width: initial;
  height: calc(var(--oaic-textarea-height) - 2px);

  [dir="rtl"] & {
    right: unset;
    left: 0;
  }
}


/**
 * Chat form styles
 */
.ocha-ai-chat-chat-form details {
  margin: 0;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.ocha-ai-chat-chat-form details > summary {
  cursor: pointer;
  font-weight: bold;
}

.ocha-ai-chat-chat-form details[open] > summary {
  margin-bottom: 12px;
}

.ocha-ai-chat-chat-form a {
  word-break: break-all;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result + .ocha-ai-chat-result {
  margin-block-start: 1rem;
}

.ocha-ai-chat-chat-form input[type="number"] {
  max-width: 10ch;
}

.ocha-ai-chat-chat-form input[type="text"] {
  max-width: 100%;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-chat-form__advanced {
  margin-inline: 12px;
}

/**
 * Q/A history
 *
 * Each Q/A results in a chat-like set of bubbles. Think of SMS or WhatsApp.
 */
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat {
  display: flex;
  flex-flow: column nowrap;
  margin-block-start: 1rem;
  margin-block-end: 0;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result dd {
  margin: 0;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__q,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__a,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__refs,
.ocha-ai-chat-chat-form__instructions > * {
  position: relative;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 5px;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__q,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__a,
.ocha-ai-chat-chat-form__instructions > * {
  text-wrap: balance;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__q {
  align-self: flex-end;
  margin-inline-start: 2rem;
  text-align: end;
  color: white;
  background: var(--brand-primary);

  /* TODO: RTL */
  &::before {
    position: absolute;
    right: -8px;
    bottom: 6px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 10px solid var(--brand-primary);
  }
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__q--loading {
  margin-block-end: 2rem;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__a,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__refs,
.ocha-ai-chat-chat-form__instructions > * {
  align-self: flex-start;
  margin-left: 52px;
  margin-block-start: 1.5rem;
  margin-inline-end: 2rem;
  text-align: start;
  color: #333;
  background: var(--brand-grey);

  /* TODO: RTL */
  &::before {
    position: absolute;
    bottom: -4px;
    left: -64px;
    display: block;
    width: 48px;
    height: 48px;
    content: '';
    background: var(--rw-icons--avatar--avatar--48--dark-grey);
  }

  &::after {
    position: absolute;
    bottom: 6px;
    left: -8px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-top: 8px solid transparent;
    border-right: 10px solid var(--brand-grey);
    border-bottom: 4px solid transparent;
  }
}

.ocha-ai-chat-chat-form__instructions > ul,
.ocha-ai-chat-chat-form__instructions > ol {
  padding-left: 2rem;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .chat__refs dt {
  font-weight: 700;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference-list {
  list-style-type: none;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference {
  display: inline;
  margin: 0;
  padding: 0;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference li {
  display: inline;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-reference li:not(:last-child)::after {
  content: ", ";
}

/**
 * Feedback
 */
.ocha-ai-chat-result-feedback.ocha-ai-chat-result-feedback {
  margin-block-start: 0.5rem;
  scroll-margin-bottom: 1rem;
}
.ocha-ai-chat-result-feedback.ocha-ai-chat-result-feedback--simple {
  padding: 0;
}
.ocha-ai-chat-result-feedback.ocha-ai-chat-result-feedback--simple .fieldset-wrapper {
  margin-left: 3.5rem;
}

.ocha-ai-chat-result-feedback .fieldset-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.ocha-ai-chat-result-feedback {
  padding-left: 0.5rem;
}

.ocha-ai-chat-result .ocha-ai-chat-result-feedback .form-type-textarea + .form-submit {
  margin-block-start: 0.5rem;
}

/**
 * Feedback buttons.
 *
 * Note: we need long selectors to have enough specificity to override the
 * default button styling when the form is shown on sites like ReliefWeb.
 */
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button:active,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button:hover,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button:focus {
  border: none;
  outline: none;
  background: none;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--icon {
  /* Visually hide the text. */
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0;
  background: none;
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--icon::before {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: '';
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--good::before {
  background: var(--rw-icons--chat--thumbs-up--16--dark-blue);
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--bad::before {
  background: var(--rw-icons--chat--thumbs-down--16--dark-blue);
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--copy::before {
  background: var(--rw-icons--chat--copy--16--dark-blue);
}

.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--copy:active::before,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--copy:hover::before,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--copy:focus::before {
  background-position-x: var(--rw-icons--chat--16--dark-red--x);
}

/* Thumb buttons. */
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: solid 1px transparent;
  border-radius: 50%;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb.feedback-button--pressed {
  border: solid 1px #2e3436;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb.feedback-button--pressed:active,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb.feedback-button--pressed:hover,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb.feedback-button--pressed:focus {
  border: solid 1px transparent;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb:not(.feedback-button--pressed):active,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb:not(.feedback-button--pressed):hover,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb:not(.feedback-button--pressed):focus {
  border: solid 1px var(--brand-primary);
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb.feedback-button--good::before {
  top: 2px;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb.feedback-button--bad::before {
  top: 4px;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb.feedback-button--pressed::before {
  background-position-x: var(--rw-icons--chat--16--dark-grey--x);
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--thumb + .feedback-button--thumb {
  margin-left: -2px;
}

/* Copy button. */
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--copy {
  /* this icon looks misaligned when the boxes are flush */
  position: relative;
  top: -1px;
}

/* Detailed feedback button. */
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--show-detailed {
  position: relative;
  padding: 0 .25rem;
  color: var(--brand-primary);
  border: none;
  background: none;
  font-size: 0.8em;
}
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--show-detailed:active,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--show-detailed:hover,
.ocha-ai-chat-chat-form .ocha-ai-chat-result .feedback-button.feedback-button--show-detailed:focus {
  border: none;
  background: none;
}

/**
 * Feedback confirmation message
 *
 * Instead of introducing a CD dependency, we add a few status message styles.
 */
.ocha-ai-chat-result-feedback .messages {
  margin-block-start: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--cd-grey--mid);
  border-radius: 3px;
  background: var(--cd-grey--light);
}

.ocha-ai-chat-result-feedback .messages--status {
  border-color: var(--cd-green);
  background-color: var(--cd-green--light);
}

/**
 * Clipboard feedback message
 */
.ocha-ai-chat-result-feedback--simple {
  position: relative;
}

.clipboard-feedback {
  position: absolute;
  z-index: 100;
  top: -4px;
  margin-inline-start: 0.5rem;
  padding: 0.2rem 0.25rem;
  white-space: nowrap;
  color: var(--cd-white);
  border-radius: 3px;
  background: var(--cd-black);
  font-size: .75em;
}

.clipboard-feedback::before {
  --clipboard-arrow: 7px;

  position: absolute;
  top: 50%;
  display: block;
  content: '';
  transform: translateY(-50%);
  border-inline-end: var(--clipboard-arrow) solid black;
  border-block: 5px solid transparent;
}

[dir="ltr"] .clipboard-feedback {
  left: 4.25rem;
}
[dir="ltr"] .clipboard-feedback::before {
  left: calc(0px - var(--clipboard-arrow));
}

[dir="rtl"] .clipboard-feedback {
  right: 4.25rem;
}
[dir="rtl"] .clipboard-feedback::before {
  right: calc(0px - var(--clipboard-arrow));
}


/**
 * User input area
 */
/* Textarea */
.ocha-ai-chat-chat-form [data-drupal-selector="edit-question"] {
  height: var(--oaic-textarea-height);
  /* The 'Ask' button takes up this space, so we pad the textarea. */
  padding-inline-end: 4rem;
  resize: none;
}

/* Submit button */
.ocha-ai-chat-chat-form .cd-button[data-drupal-selector="edit-submit"] {
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% + 2px);
  margin-inline-end: 0;
  padding-inline: 0.5rem;
  padding-inline-end: 1.5rem;
  white-space: nowrap;
  border-radius: 0;
  background: var(--brand-primary);

  &::after {
    position: absolute;
    top: 1.85rem;
    right: 0.5rem;
    display: block;
    width: 12px;
    height: 12px;
    content: '';
    transform: rotate(-90deg);
    background: var(--rw-icons--common--next--12--white);
  }
}

/* Ajax throbber */
.ocha-ai-chat-chat-form .ajax-progress {
  position: absolute;
  top: -2.5rem;
  right: 12px;
  white-space: nowrap;
  border-radius: 3px;
  background: rgba(230, 236, 239, 0.4);

  [dir="rtl"] & {
    right: initial;
    left: 21px;
  }
}
