.ocha-ai-chat-chat-popup {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 610px) {
    right: 24px;
    width: 480px;
    height: 80vh;
    max-height: 680px;
    border: 2px solid black;
    border-bottom: none;
  }
}

.ocha-ai-chat-chat-popup__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Open button */
.data-ocha-ai-chat-chat-popup__button-open {
  display: block;
  position: fixed;
  z-index: 9999;
  right: 24px;
  bottom: 24px;
  width: 80px;
  height: 80px;
  border: 0;
  border-radius: 50%;
  background-color: var(--brand-grey);
}

.data-ocha-ai-chat-chat-popup__button-open-icon {
  display: inline-block;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin-top: 12px;
  border: none;
  background: var(--rw-icons--chat--chat--48--dark-blue);
}

.data-ocha-ai-chat-chat-popup__button-open:active .data-ocha-ai-chat-chat-popup__button-open-icon,
.data-ocha-ai-chat-chat-popup__button-open:focus .data-ocha-ai-chat-chat-popup__button-open-icon,
.data-ocha-ai-chat-chat-popup__button-open:hover .data-ocha-ai-chat-chat-popup__button-open-icon {
  background: var(--rw-icons--chat--chat--48--dark-red);
}

/* Close button */
.data-ocha-ai-chat-chat-popup__button-close {
  position: absolute;
  z-index: 10001;
  top: 17px;
  right: 16px;
  width: 18px;
  height: 18px;
  border: none;
  background: var(--rw-icons--common--close--18--white);
}

.data-ocha-ai-chat-chat-popup__button-close:active,
.data-ocha-ai-chat-chat-popup__button-close:focus,
.data-ocha-ai-chat-chat-popup__button-close:hover {
  background: var(--rw-icons--common--close--18--dark-red);
}

/**
 * Loading overlay.
 *
 * Overlay with a spinning loading logo, that can be attached to any element via
 * the `ocha-ai-chat-loading` class.
 */
@keyframes ocha-ai-chat-chat-popup-overlay-loader {
  to {
    transform: rotate(360deg);
  }
}

.ocha-ai-chat-chat-popup-loading:before {
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
}

.ocha-ai-chat-chat-popup-loading:after {
  position: absolute;
  z-index: 10001;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  content: "";
  animation: ocha-ai-chat-chat-popup-overlay-loader 0.8s linear infinite;
  border: 3px solid #999;
  border-top-color: #333;
  border-radius: 50%;
}

/**
 * Modifier to lock scrolling of main page while popup is opened.
 */
.is--mobile-scroll-locked {
  overflow: hidden;

  @media screen and (min-width: 610px) {
    overflow: initial;
  }
}
