:root {
  --rw-icons-sprite: url("/modules/contrib/ocha_ai/modules/ocha_ai_chat/components/rw-icons/img/rw-icons-sprite.svg?v=1.0.2");
  --rw-icons--common--12--dark-blue--x: 0;
  --rw-icons--common--12--dark-red--x: -12px;
  --rw-icons--common--12--dark-grey--x: -24px;
  --rw-icons--common--12--white--x: -36px;
  --rw-icons--common--18--dark-blue--x: -48px;
  --rw-icons--common--18--dark-red--x: -66px;
  --rw-icons--common--18--white--x: -84px;
  --rw-icons--common--add--12--dark-blue: var(--rw-icons-sprite) 0 0 no-repeat;
  --rw-icons--common--add--12--dark-red: var(--rw-icons-sprite) -12px 0 no-repeat;
  --rw-icons--common--add--12--dark-grey: var(--rw-icons-sprite) -24px 0 no-repeat;
  --rw-icons--common--add--12--white: var(--rw-icons-sprite) -36px 0 no-repeat;
  --rw-icons--common--add--18--dark-blue: var(--rw-icons-sprite) -48px 0 no-repeat;
  --rw-icons--common--add--18--dark-red: var(--rw-icons-sprite) -66px 0 no-repeat;
  --rw-icons--common--add--18--white: var(--rw-icons-sprite) -84px 0 no-repeat;
  --rw-icons--common--arrow-left--12--dark-blue: var(--rw-icons-sprite) 0 -12px no-repeat;
  --rw-icons--common--arrow-left--12--dark-red: var(--rw-icons-sprite) -12px -12px no-repeat;
  --rw-icons--common--arrow-left--12--dark-grey: var(--rw-icons-sprite) -24px -12px no-repeat;
  --rw-icons--common--arrow-left--12--white: var(--rw-icons-sprite) -36px -12px no-repeat;
  --rw-icons--common--arrow-left--18--dark-blue: var(--rw-icons-sprite) -48px -18px no-repeat;
  --rw-icons--common--arrow-left--18--dark-red: var(--rw-icons-sprite) -66px -18px no-repeat;
  --rw-icons--common--arrow-left--18--white: var(--rw-icons-sprite) -84px -18px no-repeat;
  --rw-icons--common--arrow-right--12--dark-blue: var(--rw-icons-sprite) 0 -24px no-repeat;
  --rw-icons--common--arrow-right--12--dark-red: var(--rw-icons-sprite) -12px -24px no-repeat;
  --rw-icons--common--arrow-right--12--dark-grey: var(--rw-icons-sprite) -24px -24px no-repeat;
  --rw-icons--common--arrow-right--12--white: var(--rw-icons-sprite) -36px -24px no-repeat;
  --rw-icons--common--arrow-right--18--dark-blue: var(--rw-icons-sprite) -48px -36px no-repeat;
  --rw-icons--common--arrow-right--18--dark-red: var(--rw-icons-sprite) -66px -36px no-repeat;
  --rw-icons--common--arrow-right--18--white: var(--rw-icons-sprite) -84px -36px no-repeat;
  --rw-icons--common--close--12--dark-blue: var(--rw-icons-sprite) 0 -36px no-repeat;
  --rw-icons--common--close--12--dark-red: var(--rw-icons-sprite) -12px -36px no-repeat;
  --rw-icons--common--close--12--dark-grey: var(--rw-icons-sprite) -24px -36px no-repeat;
  --rw-icons--common--close--12--white: var(--rw-icons-sprite) -36px -36px no-repeat;
  --rw-icons--common--close--18--dark-blue: var(--rw-icons-sprite) -48px -54px no-repeat;
  --rw-icons--common--close--18--dark-red: var(--rw-icons-sprite) -66px -54px no-repeat;
  --rw-icons--common--close--18--white: var(--rw-icons-sprite) -84px -54px no-repeat;
  --rw-icons--common--double-arrow-left--12--dark-blue: var(--rw-icons-sprite) 0 -48px no-repeat;
  --rw-icons--common--double-arrow-left--12--dark-red: var(--rw-icons-sprite) -12px -48px no-repeat;
  --rw-icons--common--double-arrow-left--12--dark-grey: var(--rw-icons-sprite) -24px -48px no-repeat;
  --rw-icons--common--double-arrow-left--12--white: var(--rw-icons-sprite) -36px -48px no-repeat;
  --rw-icons--common--double-arrow-left--18--dark-blue: var(--rw-icons-sprite) -48px -72px no-repeat;
  --rw-icons--common--double-arrow-left--18--dark-red: var(--rw-icons-sprite) -66px -72px no-repeat;
  --rw-icons--common--double-arrow-left--18--white: var(--rw-icons-sprite) -84px -72px no-repeat;
  --rw-icons--common--double-arrow-right--12--dark-blue: var(--rw-icons-sprite) 0 -60px no-repeat;
  --rw-icons--common--double-arrow-right--12--dark-red: var(--rw-icons-sprite) -12px -60px no-repeat;
  --rw-icons--common--double-arrow-right--12--dark-grey: var(--rw-icons-sprite) -24px -60px no-repeat;
  --rw-icons--common--double-arrow-right--12--white: var(--rw-icons-sprite) -36px -60px no-repeat;
  --rw-icons--common--double-arrow-right--18--dark-blue: var(--rw-icons-sprite) -48px -90px no-repeat;
  --rw-icons--common--double-arrow-right--18--dark-red: var(--rw-icons-sprite) -66px -90px no-repeat;
  --rw-icons--common--double-arrow-right--18--white: var(--rw-icons-sprite) -84px -90px no-repeat;
  --rw-icons--common--help--12--dark-blue: var(--rw-icons-sprite) 0 -72px no-repeat;
  --rw-icons--common--help--12--dark-red: var(--rw-icons-sprite) -12px -72px no-repeat;
  --rw-icons--common--help--12--dark-grey: var(--rw-icons-sprite) -24px -72px no-repeat;
  --rw-icons--common--help--12--white: var(--rw-icons-sprite) -36px -72px no-repeat;
  --rw-icons--common--help--18--dark-blue: var(--rw-icons-sprite) -48px -108px no-repeat;
  --rw-icons--common--help--18--dark-red: var(--rw-icons-sprite) -66px -108px no-repeat;
  --rw-icons--common--help--18--white: var(--rw-icons-sprite) -84px -108px no-repeat;
  --rw-icons--common--next--12--dark-blue: var(--rw-icons-sprite) 0 -84px no-repeat;
  --rw-icons--common--next--12--dark-red: var(--rw-icons-sprite) -12px -84px no-repeat;
  --rw-icons--common--next--12--dark-grey: var(--rw-icons-sprite) -24px -84px no-repeat;
  --rw-icons--common--next--12--white: var(--rw-icons-sprite) -36px -84px no-repeat;
  --rw-icons--common--next--18--dark-blue: var(--rw-icons-sprite) -48px -126px no-repeat;
  --rw-icons--common--next--18--dark-red: var(--rw-icons-sprite) -66px -126px no-repeat;
  --rw-icons--common--next--18--white: var(--rw-icons-sprite) -84px -126px no-repeat;
  --rw-icons--common--selected--12--dark-blue: var(--rw-icons-sprite) 0 -96px no-repeat;
  --rw-icons--common--selected--12--dark-red: var(--rw-icons-sprite) -12px -96px no-repeat;
  --rw-icons--common--selected--12--dark-grey: var(--rw-icons-sprite) -24px -96px no-repeat;
  --rw-icons--common--selected--12--white: var(--rw-icons-sprite) -36px -96px no-repeat;
  --rw-icons--common--selected--18--dark-blue: var(--rw-icons-sprite) -48px -144px no-repeat;
  --rw-icons--common--selected--18--dark-red: var(--rw-icons-sprite) -66px -144px no-repeat;
  --rw-icons--common--selected--18--white: var(--rw-icons-sprite) -84px -144px no-repeat;
  --rw-icons--search--18--dark-blue--x: -102px;
  --rw-icons--search--18--dark-red--x: -120px;
  --rw-icons--search--26--white--x: -138px;
  --rw-icons--search--search--18--dark-blue: var(--rw-icons-sprite) -102px 0 no-repeat;
  --rw-icons--search--search--18--dark-red: var(--rw-icons-sprite) -120px 0 no-repeat;
  --rw-icons--search--search--26--white: var(--rw-icons-sprite) -138px 0 no-repeat;
  --rw-icons--toggle--9--dark-blue--x: -164px;
  --rw-icons--toggle--9--dark-red--x: -173px;
  --rw-icons--toggle--9--dark-grey--x: -182px;
  --rw-icons--toggle--9--white--x: -191px;
  --rw-icons--toggle--12--dark-blue--x: -200px;
  --rw-icons--toggle--18--white--x: -212px;
  --rw-icons--toggle--down--9--dark-blue: var(--rw-icons-sprite) -164px 0 no-repeat;
  --rw-icons--toggle--down--9--dark-red: var(--rw-icons-sprite) -173px 0 no-repeat;
  --rw-icons--toggle--down--9--dark-grey: var(--rw-icons-sprite) -182px 0 no-repeat;
  --rw-icons--toggle--down--9--white: var(--rw-icons-sprite) -191px 0 no-repeat;
  --rw-icons--toggle--down--12--dark-blue: var(--rw-icons-sprite) -200px 0 no-repeat;
  --rw-icons--toggle--down--18--white: var(--rw-icons-sprite) -212px 0 no-repeat;
  --rw-icons--toggle--up--9--dark-blue: var(--rw-icons-sprite) -164px -9px no-repeat;
  --rw-icons--toggle--up--9--dark-red: var(--rw-icons-sprite) -173px -9px no-repeat;
  --rw-icons--toggle--up--9--dark-grey: var(--rw-icons-sprite) -182px -9px no-repeat;
  --rw-icons--toggle--up--9--white: var(--rw-icons-sprite) -191px -9px no-repeat;
  --rw-icons--toggle--up--12--dark-blue: var(--rw-icons-sprite) -200px -12px no-repeat;
  --rw-icons--toggle--up--18--white: var(--rw-icons-sprite) -212px -18px no-repeat;
  --rw-icons--content--16--dark-grey--x: -230px;
  --rw-icons--content--infographic--16--dark-grey: var(--rw-icons-sprite) -230px 0 no-repeat;
  --rw-icons--content--interactive--16--dark-grey: var(--rw-icons-sprite) -230px -16px no-repeat;
  --rw-icons--content--map--16--dark-grey: var(--rw-icons-sprite) -230px -32px no-repeat;
  --rw-icons--content--report--16--dark-grey: var(--rw-icons-sprite) -230px -48px no-repeat;
  --rw-icons--avatar--48--dark-grey--x: -246px;
  --rw-icons--avatar--avatar--48--dark-grey: var(--rw-icons-sprite) -246px 0 no-repeat;
  --rw-icons--datepicker--32--dark-blue--x: -294px;
  --rw-icons--datepicker--32--dark-red--x: -326px;
  --rw-icons--datepicker--datepicker--32--dark-blue: var(--rw-icons-sprite) -294px 0 no-repeat;
  --rw-icons--datepicker--datepicker--32--dark-red: var(--rw-icons-sprite) -326px 0 no-repeat;
  --rw-icons--chat--16--dark-blue--x: -358px;
  --rw-icons--chat--16--dark-red--x: -374px;
  --rw-icons--chat--16--dark-grey--x: -390px;
  --rw-icons--chat--40--dark-blue--x: -406px;
  --rw-icons--chat--40--dark-red--x: -446px;
  --rw-icons--chat--40--dark-grey--x: -486px;
  --rw-icons--chat--48--dark-blue--x: -526px;
  --rw-icons--chat--48--dark-red--x: -574px;
  --rw-icons--chat--48--dark-grey--x: -622px;
  --rw-icons--chat--64--dark-blue--x: -670px;
  --rw-icons--chat--64--dark-red--x: -734px;
  --rw-icons--chat--64--dark-grey--x: -798px;
  --rw-icons--chat--chat--16--dark-blue: var(--rw-icons-sprite) -358px 0 no-repeat;
  --rw-icons--chat--chat--16--dark-red: var(--rw-icons-sprite) -374px 0 no-repeat;
  --rw-icons--chat--chat--16--dark-grey: var(--rw-icons-sprite) -390px 0 no-repeat;
  --rw-icons--chat--chat--40--dark-blue: var(--rw-icons-sprite) -406px 0 no-repeat;
  --rw-icons--chat--chat--40--dark-red: var(--rw-icons-sprite) -446px 0 no-repeat;
  --rw-icons--chat--chat--40--dark-grey: var(--rw-icons-sprite) -486px 0 no-repeat;
  --rw-icons--chat--chat--48--dark-blue: var(--rw-icons-sprite) -526px 0 no-repeat;
  --rw-icons--chat--chat--48--dark-red: var(--rw-icons-sprite) -574px 0 no-repeat;
  --rw-icons--chat--chat--48--dark-grey: var(--rw-icons-sprite) -622px 0 no-repeat;
  --rw-icons--chat--chat--64--dark-blue: var(--rw-icons-sprite) -670px 0 no-repeat;
  --rw-icons--chat--chat--64--dark-red: var(--rw-icons-sprite) -734px 0 no-repeat;
  --rw-icons--chat--chat--64--dark-grey: var(--rw-icons-sprite) -798px 0 no-repeat;
  --rw-icons--chat--copy--16--dark-blue: var(--rw-icons-sprite) -358px -16px no-repeat;
  --rw-icons--chat--copy--16--dark-red: var(--rw-icons-sprite) -374px -16px no-repeat;
  --rw-icons--chat--copy--16--dark-grey: var(--rw-icons-sprite) -390px -16px no-repeat;
  --rw-icons--chat--copy--40--dark-blue: var(--rw-icons-sprite) -406px -40px no-repeat;
  --rw-icons--chat--copy--40--dark-red: var(--rw-icons-sprite) -446px -40px no-repeat;
  --rw-icons--chat--copy--40--dark-grey: var(--rw-icons-sprite) -486px -40px no-repeat;
  --rw-icons--chat--copy--48--dark-blue: var(--rw-icons-sprite) -526px -48px no-repeat;
  --rw-icons--chat--copy--48--dark-red: var(--rw-icons-sprite) -574px -48px no-repeat;
  --rw-icons--chat--copy--48--dark-grey: var(--rw-icons-sprite) -622px -48px no-repeat;
  --rw-icons--chat--copy--64--dark-blue: var(--rw-icons-sprite) -670px -64px no-repeat;
  --rw-icons--chat--copy--64--dark-red: var(--rw-icons-sprite) -734px -64px no-repeat;
  --rw-icons--chat--copy--64--dark-grey: var(--rw-icons-sprite) -798px -64px no-repeat;
  --rw-icons--chat--thumbs-down--16--dark-blue: var(--rw-icons-sprite) -358px -32px no-repeat;
  --rw-icons--chat--thumbs-down--16--dark-red: var(--rw-icons-sprite) -374px -32px no-repeat;
  --rw-icons--chat--thumbs-down--16--dark-grey: var(--rw-icons-sprite) -390px -32px no-repeat;
  --rw-icons--chat--thumbs-down--40--dark-blue: var(--rw-icons-sprite) -406px -80px no-repeat;
  --rw-icons--chat--thumbs-down--40--dark-red: var(--rw-icons-sprite) -446px -80px no-repeat;
  --rw-icons--chat--thumbs-down--40--dark-grey: var(--rw-icons-sprite) -486px -80px no-repeat;
  --rw-icons--chat--thumbs-down--48--dark-blue: var(--rw-icons-sprite) -526px -96px no-repeat;
  --rw-icons--chat--thumbs-down--48--dark-red: var(--rw-icons-sprite) -574px -96px no-repeat;
  --rw-icons--chat--thumbs-down--48--dark-grey: var(--rw-icons-sprite) -622px -96px no-repeat;
  --rw-icons--chat--thumbs-down--64--dark-blue: var(--rw-icons-sprite) -670px -128px no-repeat;
  --rw-icons--chat--thumbs-down--64--dark-red: var(--rw-icons-sprite) -734px -128px no-repeat;
  --rw-icons--chat--thumbs-down--64--dark-grey: var(--rw-icons-sprite) -798px -128px no-repeat;
  --rw-icons--chat--thumbs-up--16--dark-blue: var(--rw-icons-sprite) -358px -48px no-repeat;
  --rw-icons--chat--thumbs-up--16--dark-red: var(--rw-icons-sprite) -374px -48px no-repeat;
  --rw-icons--chat--thumbs-up--16--dark-grey: var(--rw-icons-sprite) -390px -48px no-repeat;
  --rw-icons--chat--thumbs-up--40--dark-blue: var(--rw-icons-sprite) -406px -120px no-repeat;
  --rw-icons--chat--thumbs-up--40--dark-red: var(--rw-icons-sprite) -446px -120px no-repeat;
  --rw-icons--chat--thumbs-up--40--dark-grey: var(--rw-icons-sprite) -486px -120px no-repeat;
  --rw-icons--chat--thumbs-up--48--dark-blue: var(--rw-icons-sprite) -526px -144px no-repeat;
  --rw-icons--chat--thumbs-up--48--dark-red: var(--rw-icons-sprite) -574px -144px no-repeat;
  --rw-icons--chat--thumbs-up--48--dark-grey: var(--rw-icons-sprite) -622px -144px no-repeat;
  --rw-icons--chat--thumbs-up--64--dark-blue: var(--rw-icons-sprite) -670px -192px no-repeat;
  --rw-icons--chat--thumbs-up--64--dark-red: var(--rw-icons-sprite) -734px -192px no-repeat;
  --rw-icons--chat--thumbs-up--64--dark-grey: var(--rw-icons-sprite) -798px -192px no-repeat;
}
